{%extends 'index.html'%}
{%block CONTENT%}
<section class="page-hd">
    <header>
        <h2 class="title">活动信息</h2>
        <p class="title-description">
            活动信息列表
        </p>
    </header>
    <hr>
</section>

</div>

<div class="clear mt-20">
    <div class="fl">
            <button class="btn btn-secondary"><i class="icon-double-angle-left"></i>往期活动</button>
        </a>
    </div>
    <div class="fr input-group">
        <input type="text" class="form-control" placeholder="搜索..." style="width:290px;height:34px"/>
        <button class="btn btn-secondary">搜索</button>
    </div>
</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Poster</th>
        <th>活动ID</th>
        <th>活动名称</th>
        <th>活动日期</th>
        <th>活动地点</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{%endblock%}