<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>AUCSS管理系统</title>
    <meta name="keywords" content="设置关键词..."/>
    <meta name="description" content="设置描述..."/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/plug-ins/customScrollbar.min.js"></script>
    <script src="static/js/plug-ins/echarts.min.js"></script>
    <script src="static/js/plug-ins/layerUi/layer.js"></script>
    <script src="static/js/plug-ins/pagination.js"></script>
    <script src="static/js/public.js"></script>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav">
        <div class="side-logo">
            <div class="logo">
				<span class="logo-ico">
					<i class="i-l-1"></i>
					<i class="i-l-2"></i>
					<i class="i-l-3"></i>
				</span>
                <strong>AUCSS小程序后台管理系统</strong>
            </div>
        </div>

        <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
            <h2>
                <a href="{{url_for('admin.members')}}" class="InitialPage"><i class="icon-user"></i>会员管理</a>
            </h2>
            <h2>
                <a href="{{url_for('admin.partner')}}" class="InitialPage"><i class="icon-shopping-cart"></i>商家管理</a>
            </h2>
            <h2>
                <a href="{{url_for('admin.event')}}" class="InitialPage"><i class="icon-calendar"></i>活动管理</a>
            </h2>

        </nav>
        <footer class="side-footer">© AUCSS 版权所有</footer>
    </div>
    <div class="content-wrap">
        <header class="top-hd">
            <div class="hd-lt">
                <a class="icon-reorder"></a>
            </div>
            <div class="hd-rt">
                <ul>
                    <li>
                        <a href="javascript:void(0)" id="JsSignOut"><i class="icon-signout"></i>安全退出</a>
                    </li>
                </ul>
            </div>
        </header>
        <main class="main-cont content mCustomScrollbar">
            <div class="page-wrap">
                {%block CONTENT%}
                {%endblock%}
            </div>


            <script>
                //分页
                $(".pagination").createPage({
                    pageCount: 5,
                    current: 1,
                    backFn: function (p) {
                        console.log(p);
                    }
                });
                //demo1
                var dom = document.getElementById("demo1");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;

                function randomData() {
                    now = new Date(+now + oneDay);
                    value = value + Math.random() * 21 - 10;
                    return {
                        name: now.toString(),
                        value: [
                            [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
                            Math.round(value)
                        ]
                    }
                }

                var data = [];
                var now = +new Date(1997, 9, 3);
                var oneDay = 24 * 3600 * 1000;
                var value = Math.random() * 1000;
                for (var i = 0; i < 1000; i++) {
                    data.push(randomData());
                }

                option = {
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            params = params[0];
                            var date = new Date(params.name);
                            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
                        },
                        axisPointer: {
                            animation: false
                        }
                    },
                    xAxis: {
                        type: 'time',
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, '100%'],
                        splitLine: {
                            show: false
                        }
                    },
                    series: [{
                        name: '模拟数据',
                        type: 'line',
                        showSymbol: false,
                        hoverAnimation: false,
                        data: data
                    }]
                };

                setInterval(function () {

                    for (var i = 0; i < 5; i++) {
                        data.shift();
                        data.push(randomData());
                    }

                    myChart.setOption({
                        series: [{
                            data: data
                        }]
                    });
                }, 1000);
                ;
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }

                //demo2
                var dom = document.getElementById("demo2");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: []
                };
                ;
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            </script>
            <!--开始::结束-->
        </main>
        <footer class="btm-ft">
            <p class="clear">
                <span class="fl">©Copyright 2021 <a href="http://www.aucssnz.com" title="AUCSS"
                                                    target="_blank">AUCSS</a></span>
                </span>
            </p>
        </footer>
    </div>
</div>
</body>
</html>
